:root{
    --c-background-base: #D8DEE9; /*body-light*/
    --c-background-primary: #ECEFF4; /*board-light*/
    --c-text-base: #000000; /*text-light*/
  }
  @media (prefers-color-scheme: dark) {
    :root{
      --c-background-base: #181a20; /*body-dark*/
      --c-background-primary: #232831; /*board-dark*/
      --c-text-base: #EFEFEF; /*text-dark*/
    }
  }


body{
    background-color: var(--c-background-base);
    font-family: 'DotGothic16', sans-serif;
}

.board{
   margin: 0 auto;
   position: relative;
   top: 100px;
    width: 400px;
    height: 470px;
    background-color: var(--c-background-primary);
    color: var(--c-text-base);
    text-align: center;
}

.title{
    letter-spacing: 0.07em;
}

.profilePhoto{
    position: relative;
    left: 10px;
    height: 150px;
    width: 150px;
}

.icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile{
    position: relative;
    left: 45%;
    bottom: 170px;
    width: 210px;
    height: 150px;
}

.subTitle{
    position: relative;
    text-align: left;
    left: 40px;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.tableAboutMe{
    text-align: left;
    position: relative;
    bottom: 15px;
    letter-spacing: -0.01em;
}

.fwBold{
    font-weight: bold;
    width: 90px;
    height: 32px;
    letter-spacing: 0.03em;
}

.comments{
    position: relative;
    left: 10px;
    bottom: 150px;
    width: 380px;
    height: 150px;
    text-align: left;
}

.gf{
    text-decoration: none;
    color: #6976f3
}

.discord{
    position: relative;
    left: 340px;
    bottom: 125px;
    height: 30px;
    width: 39.5px;
}

.discordLogo{
    height: 100%;
}

.discord :hover{
    opacity: 80%;
    transition: 0.3s;
}

/*ここからスマホ用*/

@media screen and (max-width:480px) {
    body{
        background-color: var(--c-background-base);
        font-family: 'DotGothic16', sans-serif;
        width: 100%;
        margin: 0px;
    }
    
    .board{
        margin: 0px;
        position: relative;
        top: 30px;
        left: 10px;
        width: 95%;
        height: 470px;
        background-color: var(--c-background-primary);
        color: var(--c-text-base);
        text-align: center;
    }
    
.title{
    letter-spacing: 0.07em;
}

.profilePhoto{
    position: relative;
    left: 10px;
    height: 150px;
    width: 150px;
}

.icon{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.profile{
    position: relative;
    left: 45%;
    bottom: 170px;
    width: 190px;
    height: 150px;
}

.subTitle{
    position: relative;
    text-align: left;
    left: 40px;
    font-size: 18px;
    letter-spacing: 0.03em;
    width: 110px;
}

.tableAboutMe{
    text-align: left;
    position: relative;
    left: 15px;
    bottom: 15px;
    letter-spacing: -0.01em;
    font-size: 12px;
}

.fwBold{
    width: 75px;
    height: 32px;
    letter-spacing: 0.03em;
}

.comments{
    position: relative;
    left: 10px;
    bottom: 150px;
    width: 90%;
    height: 150px;
    text-align: left;
}

.gf{
    text-decoration: none;
    color: #6976f3
}
    
.discord{
    position: relative;
    left: 85%;
    bottom: 125px;
    height: 30px;
    width: 39.5px;
}

.discordLogo{
    height: 100%;
}

.discord :hover{
    opacity: 80%;
    transition: 0.3s;
}
}
