:root{
    --c-background-base: #D8DEE9; /*body-light*/
    --c-background-primary: #ECEFF4; /*board-light*/
    --c-text-base: #000000; /*text-light*/
  }
  @media (prefers-color-scheme: dark) {
    :root{
      --c-background-base: #181a20; /*body-dark*/
      --c-background-primary: #232831; /*board-dark*/
      --c-text-base: #EFEFEF; /*text-dark*/
    }
  }

body{
    background-color: var(--c-background-base);
    font-family: 'DotGothic16', sans-serif;
}

.board{
   margin: 0 auto;
   position: relative;
   top: 100px;
    width: 400px;
    height: 470px;
    background-color: var(--c-background-primary);
    color: var(--c-text-base);
    text-align: center;
}

.title{
    letter-spacing: 0.07em;
}

.profilePhoto{
    position: relative;
    left: 10px;
    height: 150px;
    width: 150px;
}

.icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile{
    position: relative;
    left: 45%;
    bottom: 170px;
}

.subTitle{
    position: relative;
    text-align: left;
    left: 40px;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.tableAboutMe{
    text-align: left;
    position: relative;
    bottom: 15px;
    letter-spacing: -0.01em;
}

.fwBold{
    font-weight: bold;
    width: 90px;
    height: 32px;
    letter-spacing: 0.03em;
}

.comments{
    position: relative;
    left: -170px;
    width: 380px;
    height: 150px;
    text-align: left;
}

.discord{
    position: relative;
    left: 160px;
    top: 20px;
    height: 30px;
    width: 39.5px;
}

.discordLogo{
    height: 100%;
}

.discord :hover{
    opacity: 80%;
    transition: 0.3s;
}

.twitter{
    position: relative;
    left: 105px;
    bottom: 12px;
    height: 35px;
    width: 35px;
}

.twitterLogo{
    height: 100%;    
}

.twitter :hover{
    opacity: 80%;
    transition: 0.3s
}

.footer{
    font-family: sans-serif;
    font-size: 12px;
    position: relative;
    bottom: 155px;  
}
