body {
    background-color: #333333; 
  }

header{width: 960px;height: 204px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 30px;
    border-radius: 10px;
    background-color: #EFEFEF
}

.logo img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 42px;
    left: 47px;
}

nav{
    position: relative;
    bottom: -60px;
    left: 590px;
    width: 230px;
}

ul{
    display: flex;
}

li{
    border-style: none;
    list-style: none;
    margin: auto;
}

li:hover{
    opacity: 0.6;
  transition: 0.6s;
}

.headerText{
    position: relative;
    bottom: 27px;
    left: -125px;
    font-size: 42px;
}

.aboutThisPage{
    width: 680px;
    height: 160px;
    margin: auto;
    position: relative;
    top: 60px;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.headline{
    
    margin: auto;
    position: relative;
    left: 230px;
    top: 10px;
}

.about_body{
    text-align: center;
}

.cards{
    width: 960px;
    height: 640px;
    display: flex;
    margin: auto;
    position: relative;
    top: 120px;
}

.card1{
    width: 310px;
    height: 640px;
    background-color: #EFEFEF;
    border-radius: 10px;
    text-align: center;
}

.card1 img{
    height: 222.83px;
    position: relative;
    top: -16px;
    left: 0px;
    border-bottom: 3px solid #163469;
    padding: 5.5px;
}

.card1_text{
    position: relative;
    top: -25px;
}

.card2{
    width: 310px;
height: 640px;
background-color: #EFEFEF;
border-radius: 10px;
text-align: center;
position: relative;
left: 15px;
}

.card2 img{
    height: 209.83px;
    position: relative;
    top: -2px;
    left: 0px;
    border-bottom: 3px solid #491790;
    padding: 5px;
}

.card2_text{
    position: relative;
    top: -11px;
}

.card3{
    width: 310px;
height: 640px;
background-color: #EFEFEF;
border-radius: 10px;
text-align: center;
position: relative;
left: 30px;
}

.card3 img{
    height: 209.83px;
    position: relative;
    top: -2px;
    left: 0px;
    border-bottom: 3px solid #e85ecf;
    padding: 5px;
}

.card3_text{
    position: relative;
    top: -11px;
}

.aboutMe{
    width: 600px;
    height: 160px;
    background-color: #EFEFEF;
    border-radius: 10px;
    display: flex;
    margin: auto;
    position: relative;
    top: 180px;
}

.aboutMe img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}

.aboutMeText{
    width: 420px;
    height: 120px;
    position: relative;
    top: 0px;
    left: 50px;
}

.footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    margin: auto;
    position: relative;
    top: 200px;
    padding: 50px 0;
    background-color: #333333;
    color: #EFEFEF;
  }
